/*
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Staatliches', cursive;

color: #f5f5f5;
color: #B1D0E0;
color: #6998AB;
color: #406882;
color: #1A374D;

color: #212529;
color: #666666;

color: #3cb371;

*/


/*GLOBAL______________________________________________________________*/

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background-color: #212529;
    opacity: 1;
    background-image: radial-gradient(#666666 0.75px, #212529 0.75px);
    background-size: 15px 15px;
    overflow: scroll;
    position: relative;
}

#landpage {
    min-height: 100vh;
    height: auto;
    padding: 0px;
}


/*MAIN________________________________________________________________*/

.open {
    background-image: url("IMG/BG_Termosso.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.open .row {
    height: 100vh;
}

.open h1 {
    font-family: 'Staatliches', cursive;
    font-size: 15vw;
    line-height: .8em;
    color: #f5f5f5;
    text-shadow: .05em .05em 0em #6998AB;
}

.open h2 {
    font-family: 'Montserrat', sans-serif;
    /*font-size: 3vw;*/
    font-size: calc(1.325rem + 2vw);
    font-weight: 600;
    color: #f5f5f5;
}

.open p {
    background-color: #6998AB;
    color: #f5f5f5;
    padding: 5px;
}

.openBajada {
    padding: 0 20%;
}

.open img {
    width: 7vw;
    height: auto;
}


/*NAVBAR______________________________________________________________*/

#navbar {
    height: 15vh;
}


/*FEATURE_____________________________________________________________*/

#sectionFeatures {
    padding-top: 20vh;
}

#sectionFeatures .row {
    min-height: 50vh;
    height: auto;
}

.feature {
    min-height: 60vh;
    height: auto;
    background-color: #212529;
    box-shadow: 0px 5px 0px 0px #B1D0E0;
}

.feature img {
    max-height: 20vh;
}

.feature h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #f5f5f5;
}

.feature p {
    color: #f5f5f5;
}


/*SEPARATOR___________________________________________________________*/

.progress {
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
}

.progress::before {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: progress;
    background: #111;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
}

@keyframes progress {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1440px);
    }
}


/*SLIDER _____________________________________________________________*/

#sectionSlider {
    /*scroll-margin-top: 15vh;*/
    padding-top: 20vh;
    min-height: 30vh;
    height: auto;
}

.bgSection3 {
    background-color: #66666600;
}

.destacado {
    color: #f5f5f5;
}

.carousel-inner {
    box-shadow: 0px 5px 0px 0px #f5f5f5;
}


/*MAYORISTAS__________________________________________________________*/

#mayoristas {
    /*scroll-margin-top: 15vh;*/
    background-image: url(IMG/cajasTransparencia.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #6998AB;
    min-height: 95vh;
    height: auto;
}

#mayoristas .container .row {
    min-height: 95vh;
    height: auto;
    padding-top: 15vh;
}

#col1 {
    background-color: #406882;
    min-height: 65vh;
    height: auto;
}

#col1 h2 {
    font-size: calc(1.325rem + 2vw);
    font-weight: 600;
    color: #f5f5f5;
}

#col1 p {
    color: #f5f5f5;
}

#col2 {
    min-height: 65vh;
    height: auto;
}

#col2 h4 {
    color: #f5f5f5;
    background-color: #6998AB;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
}

#col2 p {
    color: #f5f5f5;
}

#hr2 {
    background-color: #6998AB;
    color: #ffffff00;
    width: 100%;
    height: 5px;
}


/*FORM________________________________________________________________*/

#sectionForm {
    min-height: 85vh;
    height: auto;
    padding-top: 20vh;
    color: #f5f5f5;
}

#sectionComprar {
    background-image: url("IMG/mate_primer_plano.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 85vh;
    height: auto;
}

#sectionComprar h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1.325rem + 2vw);
    font-weight: 600;
    color: #f5f5f5;
    text-shadow: .07em .07em 0em #212529;
}

.miniatura {
    max-height: 30px;
}

.btnForm {
    font-size: 1.5rem;
    font-weight: 800;
}

.btnForm:hover {
    color: #6998AB;
    transition: .3s;
}


/*FOOTER______________________________________________________________*/

#footer {
    padding: 5px 0px;
    margin: 0px;
    background-color: #406882;
    color: #B1D0E0;
}

#footer p {
    font-size: .7em;
}

#footer .p2 {
    color: #ffffff;
    font-weight: bold;
}